<ion-title>Parrino espace Admin</ion-title>
<ion-list>
  <ion-item 
    routerLink="/admin/dashboard-admin" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{ exact: true }">
    <img src="assets/icon/home.png" alt="" class="menu-icon">
    Accueil
  </ion-item>

  <ion-item 
    routerLink="/admin/gestion-association" 
    routerLinkActive="active-link">
    <img src="assets/icon/ass-icon.png" alt="" class="menu-icon">
    Gestion association
  </ion-item>

  <ion-item 
    routerLink="/admin/liste-enfants" 
    routerLinkActive="active-link">
    <img src="assets/icon/people-icon.png" alt="" class="menu-icon">
    Liste des enfants
  </ion-item>

  <ion-item 
    routerLink="/admin/parametres" 
    routerLinkActive="active-link">
    <img src="assets/icon/setting-icon.png" alt="" class="menu-icon">
    Paramètres
  </ion-item>
</ion-list>
