<ion-content> 
  <ion-grid>
    <ion-row>
      <app-sidebar></app-sidebar>
      <ion-col size="9">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Dashboard</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <p>Statistiques rapides</p>
              <ion-row>
                <ion-col>
                  <ion-card class="stat-card">
                    <ion-card-content>Associations enregistrées <br><span>120</span></ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col>
                  <ion-card class="stat-card">
                    <ion-card-content>Associations validées <br><span>95</span></ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col>
                  <ion-card class="stat-card">
                    <ion-card-content>En attente de validation <br><span>25</span></ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col>
                  <ion-card class="stat-card">
                    <ion-card-content>Effectif global <br><span>313</span></ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <div class="table-wrapper">
          <div class="text-table-wrapper">
            <p class="text-table">Associations en attente de validation</p>
          </div>
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th>Nom de l'association</th>
                  <th>Document</th>
                  <th>Date d'enregistrment</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                @for(school of schools; track school.name){
                  <tr>
                    <td>{{school.name}}</td>
                    <td><ion-button (click)="viewDocument(school)" class="btn-see">Voir</ion-button></td>
                    <td>{{school.date}}</td>
                    <td>
                      <ion-button class="btn-valide">Valider</ion-button>
                      <ion-button class="btn-reject">Rejeter</ion-button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>