.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
  padding: 1rem;
}

.page-title {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
  color: var(--ion-color-primary);
}

.card {
    margin-left:450px;
  width: 90%;           /* réduit la largeur */
  max-width: 500px;     /* limite maximale sur grand écran */
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}

.form-item {
  margin-bottom: 1rem;
}

.file-button {
  margin-top: 0.5rem;
  --border-radius: 10px;
}

.file-text {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  font-style: italic;
}

.submit-button {
  margin-top: 1rem;
  font-weight: bold;
  --border-radius: 25px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
